{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_shopping-basket{% endblock %}

{% block content %}
    <h1 class="text-center">
        {{ 'modules.shopping_basket.steps.account_form_title'|trans }}
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <button type="submit">{{ 'modules.shopping_basket.models.shopping_product.actions.done'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
