{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_shopping-basket{% endblock %}

{% block content %}
    <h1>
        {{ 'modules.shopping_basket.messages.confirmation_title'|trans }}
    </h1>

    <h2>{{ 'modules.shopping_basket.messages.your_order'|trans }}</h2>

    <table class="table">
        <thead>
        <tr>
            <td colspan="2">{{ 'modules.shopping_basket.models.shopping_product.name'|trans }}</td>
            <td>{{ 'modules.shopping_basket.models.shopping_product.price'|trans }}</td>
            <td>{{ 'modules.shopping_basket.models.shopping_product.quantity'|trans }}</td>
            <td>{{ 'modules.shopping_basket.models.shopping_product.price_total'|trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for product in order.items %}
            <tr>
                <td>
                    {% if product.image %}
                        <img src="{{ web_image(product.image).cropResize(150, 150) }}">
                    {% endif %}
                </td>

                <td>
                    <p><strong>{{ product.name }}</strong></p>
                    <ul>
                        {% for key, row in module.getProductDescription(product) if row.public %}
                            <li>
                                <strong>{{ row.name }}</strong>
                                {{ row.value }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ product.price|number_format_currency('EUR') }}</td>
                <td>
                    {{ product.quantity }}
                </td>
                <td>{{ product.totalPrice|number_format_currency('EUR') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <div class="row">
        <div class="offset-6 col-2">
            {{ module.getTotalPrice()|number_format_currency('EUR') }}
        </div>
    </div>

    <hr>

    <h2>{{ 'modules.shopping_basket.messages.account_details'|trans }}</h2>

    <div class="row">
        <p>{{ order.account.firstName }} {{ order.account.lastName }}</p>
        <p>{{ order.account.email }}</p>
        {% if (order.account.phone) %}
            <p>{{ order.account.phone }}</p>
        {% endif %}
    </div>


    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <button type="submit">{{ 'modules.shopping_basket.models.shopping_product.actions.confirm'|trans }}</button>
    </div>
    {{ form_end(form) }}

{% endblock %}