{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_shopping-basket{% endblock %}

{% block content %}
    <h1 class="text-center">
        <i class="fa fa-check-circle-o"></i>
    </h1>
    <h2 class="text-center">{{ 'modules.shopping_basket.messages.fail_title'|trans }}</h2>
    <h3 class="text-center">{{ 'modules.shopping_basket.messages.fail_description'|trans }}</h3>
{% endblock %}
