{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_shopping-basket{% endblock %}

{% block content %}
    {% if unavailableProducts|length %}
        {% for product in unavailableProducts %}
            {{ 'modules.shopping.errors.product_not_available'|trans({'%product_name%' : product.name}) }}
        {% endfor %}
    {% endif %}
    {% if products|length %}
        <table class="table">
            <thead>
                <tr>
                    <td colspan="2">{{ 'modules.shopping_basket.models.shopping_product.name'|trans }}</td>
                    <td>{{ 'modules.shopping_basket.models.shopping_product.price'|trans }}</td>
                    <td>{{ 'modules.shopping_basket.models.shopping_product.quantity'|trans }}</td>
                    <td>{{ 'modules.shopping_basket.models.shopping_product.price_total'|trans }}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {% if product.image %}
                                <img src="{{ web_image(product.image).cropResize(150, 150) }}">
                            {% endif %}
                        </td>

                        <td>
                            <p><strong>{{ product.name }}</strong></p>
                            <ul>
                                {% for key, row in module.getProductDescription(product) if row.public %}
                                    <li>
                                        <strong>{{ row.name|trans }}</strong>

                                        {% if module.isProductParametersEditable(product) and row.type == 'choice' %}
                                            {% for choice in row.choices %}
                                                <a href="{{ module.generateProductParametersUrl(product, { persons: choice }) }}" class="{{ row.choice_css_class }}{{ choice }}{% if row.value == choice %} selected{% endif %}"></a>
                                            {% endfor %}
                                        {% else %}
                                            {{ row.value }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ product.price|number_format_currency('EUR') }}</td>
                        <td>
                            {% set quantityEditable = module.isProductQuantityEditable(product) %}

                            {% if quantityEditable %}
                                <a href="{{ module.generateProductQuantityUrl(product, product.quantity - 1) }}">
                                    {{ 'modules.shopping_basket.models.shopping_product.actions.quantity_decrement'|trans }}</a>
                            {% endif %}

                            {{ product.quantity }}

                            {% if quantityEditable %}
                                <a href="{{ module.generateProductQuantityUrl(product, product.quantity + 1) }}">
                                    {{ 'modules.shopping_basket.models.shopping_product.actions.quantity_increment'|trans }}</a>
                            {% endif %}
                        </td>
                        <td>{{ product.totalPrice|number_format_currency('EUR') }}</td>
                        <td>
                            <a href="{{ module.generateProductRemoveUrl(product) }}">
                                {{ 'modules.shopping_basket.models.shopping_product.actions.remove'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <div class="row">
            <div class="offset-6 col-2">
                {{ module.getTotalPrice()|number_format_currency('EUR') }}
            </div>
            <div class="col-4">
                <a href="{{ module.generateCheckoutUrl() }}" class="btn btn-primary {% if unavailableProducts|length %}disabled{% endif %}">
                    {{ 'modules.shopping_basket.models.shopping_product.actions.checkout'|trans }}</a>
            </div>
        </div>

    {% else %}
        <p>{{ 'modules.shopping_basket.messages.empty'|trans }}</p>
    {% endif %}
{% endblock %}
