<li class="nav-item">
    <a href="{{ module.generateMainBlockUrl() }}" class="nav-link" title="{{ 'modules.shopping_basket.label'|trans }}">
        <i class="fa fa-shopping-basket"></i>
        <span class="badge badge-pill badge-primary">{{ count }}</span>
    </a>
</li>
